body {
  margin: 0;
}

#navbar {
  min-width: 180px;
  max-width: 200px;
  background: grey;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    padding: 2rem 10px;
  }
}

#main-doc {
  padding: 2rem;
  margin-left: 180px;
  background: gainsboro;
  width: 100%;
  height: auto;
}
.flex-container {
  display: flex;
}

@media(max-width: 800px) {
  #main-doc {
    margin-left: 80px;
  }
  #navbar {
    max-width: 80px;
    min-width: 80px;
  }
}