body {
  margin: 0;
}

#navbar {
  min-width: 180px;
  max-width: 200px;
  background: grey;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar a {
  padding: 2rem 10px;
}

#main-doc {
  padding: 2rem;
  margin-left: 180px;
  background: gainsboro;
  width: 100%;
  height: auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  #main-doc {
    margin-left: 80px;
  }
  #navbar {
    max-width: 80px;
    min-width: 80px;
  }
}
/*# sourceMappingURL=style.css.map */